@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
    padding-top: 70px;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control .item {
    border-radius: 4px;
}

.caption {
    /* height: 130px;
    overflow: hidden; */
    height: 156px;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

footer {
    margin: 50px 0;
    text-align: center;
}