@charset "utf-8";

/* ---------------------------- */
/* format */
/* ---------------------------- */
* {
	margin: 0;
	padding: 0;
}

body {
  padding-top: 70px;
}

.btn {
  margin-right: 5px;
}

/* ---------------------------- */
/* Main navigation */
/* ---------------------------- */
.navbar-inverse {
  background-color: #000;
  border-color: #000;
}

.navbar-inverse .navbar-nav li a {
  font-size: 19px;
}

.navbar-inverse .navbar-nav li a i {
  font-size: 22px;
}

.navbar-brand img {
  position: absolute;
  top:0;
}


/* ---------------------------- */
/* Main page contents */
/* ---------------------------- */
.slide-image {
  width: 150%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control .item {
  border-radius: 4px;
}

.caption {
  /* height: 130px;
  overflow: hidden; */
  height: 185px;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail {
  padding: 0;
  border: 0;
}

.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

.thumbnail h4 {
  font-size: 120%;
}

.thumbnail p {
  margin-bottom: 5px;
}

/* ---------------------------- */
/* Item page */
/* ---------------------------- */
.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.item-des {
  line-height: 1.8em;
}

#reviews li {
  list-style: none;
  line-height: 1.7em;
}





/* ---------------------------- */
/* Category page */
/* ---------------------------- */
.hero-spacer {
  background-image: url(../img/long2.png);
  background-size: cover;
  border: 2px solid #555;
  color: #fff;
}

#cat-intro {
  width: 60%;
  font-size: 120%;
  line-height: 2em;
  font-weight: bold;
}


/* ---------------------------- */
/* Entry page */
/* ---------------------------- */
form .bottom-space {
  margin: 10px;
}

form .birth {    
  padding: 0;
}

.birth-label {
  margin-right: 20px;
}

.front-logo {
  text-align: center;
}

.front-toggle {
  margin: 0;
  padding: 0;
}

 .none {
  color: #fff;
 }


/* ---------------------------- */
/* cart page */
/* ---------------------------- */




/* ---------------------------- */
/* Side nav */
/* ---------------------------- */
@media (max-width: 768px) {
  .main-sider {
    display: none;
  }
}

.lead {
  margin-bottom: 10px;
}












/* ---------------------------- */
/* Footer */
/* ---------------------------- */
#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}

footer {
  margin: 50px 0;
  text-align: center;
}